<template>
     <!-- 热门课程 -->
    <div class="hot-courses" style="max-width: 1920px;height: 479px;background: #F4F4F4;box-sizing: border-box;padding-top: 100px;">
        <div style="width:1200px;margin:0 auto;font-size:30px;color:#000;margin-bottom:50px;">热门课程预告</div>
        <ul style="width:1200px;height:206px;margin:0 auto;">
            <li class="swiper-slide" v-for="(item,index) in imgList" :key="index" @mouseover="enter($event)" @mouseleave="leave($event)" @click="itemClick(item)">
                <img :src="item" style="width:100%;">
                <div >{{list[index].sIndustryName}}</div>
            </li>  
            <li class="swiper-slide" @mouseover="enter($event)" @mouseleave="leave($event)">
                <img src="@/assets/hot4.png" style="width:100%;">
                <div style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;">更多分类</div>
            </li>  
        </ul>
    </div>
</template>
<script>
import hot1 from '@/assets/hot1.png'
import hot2 from '@/assets/hot2.png'
import hot3 from '@/assets/hot3.png'
import hot4 from '@/assets/hot4.png'
export default {
  props:{
    list:Array
  },
  components: {
   
  },
  data() {
    return {
        imgList:[hot1,hot2,hot3],
    };
  },

  beforeMount() {},
  mounted() {
    
    
  },
  methods: {
    enter($event) {
        $event.currentTarget.className = 'imghover';
    },
    leave($event) {
        $event.currentTarget.className = 'imghoverout';
    },
    itemClick(item){
        this.$router.push({ path: '/productList' });
    }
  }
};
</script>
<style lang="less" scoped>
    /* 热门课程 */
    .hot-courses .hot-courses-container .swiper-slide{
        background: chocolate;
        opacity: 0.6;
        border-radius: 10px;
    }
    ul li {
        float:left;
        width:277px;
        background: cadetblue;
        margin-right:30px;
        height: 100%;
        border-radius:10px;
        position:relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s;
        cursor: pointer;
    }
    ul li:last-child{
        margin-right:0px;
        height: 100%;
    }
    ul li div{
        position: absolute;width: 100%;height: 100%;line-height:206px;text-align:center;top: 0;left: 0;font-size: 26px;font-family: Source Han Sans CN;font-weight: bold;color:#fff;
        
    }
</style>






